@{
    ViewBag.Title = "About";
}

<link href="~/Content/Site.css" rel="stylesheet" />


<h2>@ViewBag.Title.</h2>
<div class="aboutview">
<h3>@ViewBag.Message</h3>

<p>Thank you for using MacroTrackerMVC. This app is a .NET MVC Web Application.</p>
    <br />
<p>If you have made a mistake in creating a Food/Meal, please click either the Intake tab or the Meal Intake tab. Doing so will bring you to the page needed to edit the intake to correct your Food or Meal!</p>
</div>