@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>
<div class="aboutview">
    <h3>@ViewBag.Message</h3>

    <address>
        Makin Gainz Drive<br />
        Gainsville, IN 47933<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">joshshelton.sd@gmail.com</a><br />
    </address>
    </div>