@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div class="jumbotron">
        <h1>Macro Tracker</h1>
        <p class="lead">Macro Tracker allows you to create Foods with your own macro nutrients! Add your created Foods in (Intake) and then see the magic in the (Meal) section! </p>
        <p><a href="/Home/About" class="btn btn-primary btn-lg">More Info &raquo;</a></p>
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>STEP 1</h2>
        <p>
            Click the button in this section to start creating food! You may set up your own macro-nutrients for the foods you create and name it for easy to re-use functionality.
        </p>
        <p><a class="btn btn-default" href="/Food/Create">Create Food &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>STEP 2</h2>
        <p>Click this button and it will bring you to the page where you can create an empty Meal by naming the Meal and including which foods you would like to include.</p>
        <p><a class="btn btn-default" href="/Meal/Create">Create Meal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>STEP 3</h2>
        <p>Click this button and it will bring you to the page where you can add which foods you have created to the empty Meal you have created in the previous step!.</p>
        <p><a class="btn btn-default" href="/Intake/Create">Add to Meal &raquo;</a></p>
    </div>
</div>

<style>
    td input {
        opacity: .8;
    }

    .btn {
        background-image: url(../../Content/images/marbel.jpg);
        color: black;
    }
</style>