@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Macro Tracker</h1>
    <p class="lead">Macro Tracker allows you to add, edit, see details, delete foods, as well as create complete meal plans. Save foods and their macronutrient profiles and simply click foods to add them to a meal plan! </p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">More Info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a Food</h2>
        <p>
            Click the button in this section to start creating food! You may set up your own macro-nutrients for the foods you create and name it for easy to re-use functionality.
        </p>
        <p><a class="btn btn-default" href="/Food/Create">Create Food &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make a Meal</h2>
        <p>Start tracking the foods you have created. This button will bring you to the page where you can simply press which foods you have consumed for the day! This simple process allows us to calculate everything for you.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Create Meal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your Results</h2>
        <p>Click this button to see the complete breakdown of what you have consumed for the day. Hopefully you hit your goals!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Results &raquo;</a></p>
    </div>
</div>