@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div class="jumbotron">
        <h1>Macro Tracker</h1>
        <p class="lead">Macro Tracker allows you to create Foods with your own macro nutrients! Add your created Foods/Meals in Create and then let the magic Intake work in the background to create your custom Foods/Meals/Meal Plans! </p>
        <p><a href="/Home/About" class="btn btn-primary btn-lg">More Info &raquo;</a></p>
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>STEP 1</h2>
        <p>
            Click the button in this section to start creating food! You may set up your own macro-nutrients for the foods you create.
        </p>
        <p><a class="btn btn-default" href="/Food/Create">Create Food &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>STEP 2</h2>
        <p>Click this button and it will bring you to where you can create an empty Meal and including which foods you would like to include.</p>
        <p><a class="btn btn-default" href="/Meal/Create">Create Meal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>STEP 3</h2>
        <p>Click this button and it will bring you to the page where you can add which meals you have created to a Meal Plan!</p>
        <p><a class="btn btn-default" href="/MealPlan/Create">Add Meals &raquo;</a></p>
    </div>
</div>

<style>
    td input {
        opacity: .8;
    }

    .btn {
        display: inline-block;
        background-color: darkslategray;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: palegoldenrod;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        width: 250px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
</style>