body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('images/external-content.duckduckgo.com.jpg');
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('images/striped.JPG');
    margin-bottom: 3em;
}

.row{
    background-color: rgb(233, 214, 174, 255);
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 1em;
    color: black;
}

.foodindex {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.foodcreate {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.foodedit {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.fooddelete {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.fooddetails {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.mealindex {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.mealcreate {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.mealedit {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.mealdelete {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.mealdetails {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.intakeindex {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.intakecreate {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.intakeedit {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.intakedelete {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.intakedetails {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.aboutview {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.contactview {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.registerview {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.loginview {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.manageview {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}